---
import Image from 'astro/components/Image.astro';

import img_1 from '@/assets/img/hero-1.jpg';
---

<script>
    import Swiper from 'swiper';
    import { Pagination, Navigation, Autoplay, EffectFade } from 'swiper/modules';
    import 'swiper/css/bundle';

    new Swiper('.swiper', {
        modules: [Pagination, Navigation, Autoplay, EffectFade],
        loop: true,
        speed: 500,
        // autoplay: {
        //     delay: 5000,
        // },
        effect: 'fade',
        spaceBetween: 26,
        pagination: {
            el: '.swiper-pagination',
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        on: {
            autoplayTimeLeft(s, time, progress) {
                const te = document.querySelector('.swiper-pagination-bullet-active');
                if (te) {
                    const percentage = Math.ceil((1 - progress) * 100);
                    //@ts-ignore
                    te.style.setProperty('--progress', `${percentage}%`);
                }
            },
        },
    });
</script>

<div class="mb-20 relative">
    <div class="swiper container">
        <div class="swiper-wrapper">
            <div class="swiper-slide bg-bg">
                <div class="w-full flex justify-between gap-10 relative">
                    <div class="self-center shrink-0">
                        <div class="title">
                            Detox программа – <br />
                            <span>вкусное очищение</span>
                            <br /> организма
                        </div>
                        <p class="descr">Только натуральные ингридиенты</p>
                        <a href="#" class="rounded-[190px] bg-accent text-bg font-bold text-xl cursor-pointer py-3 px-12 inline-block">Заказать</a>
                    </div>
                    <div>
                        <Image src={img_1} alt="Food image" width={img_1.width} height={img_1.height} class="rounded-full size-[100%] scale-80 border-[36px] border-accent" />
                    </div>
                </div>
            </div>

            <div class="swiper-slide bg-bg">
                <div class="w-full flex justify-between gap-10 relative">
                    <div class="self-center shrink-0">
                        <div class="title">
                            Сервис правильного <br /> питания. <br />
                            <span>Худей быстро!</span>
                        </div>
                        <p class="descr">4 приемы пищи</p>
                        <a href="#" class="rounded-[190px] bg-accent text-bg font-bold text-xl cursor-pointer py-3 px-12 inline-block">Заказать</a>
                    </div>
                    <div>
                        <Image src={img_1} alt="Food image" width={img_1.width} height={img_1.height} class="rounded-full size-[100%] scale-80 border-[36px] border-accent" />
                    </div>
                </div>
            </div>
            <div class="swiper-slide bg-bg">
                <div class="w-full flex justify-between gap-10 relative">
                    <div class="self-center shrink-0">
                        <div class="title">
                            Кето питание - <br />
                            <span> вкусное и быстрое</span>
                            <br /> похудение
                        </div>
                        <p class="descr">Только современный подход</p>
                        <a href="#" class="rounded-[190px] bg-accent text-bg font-bold text-xl cursor-pointer py-3 px-12 inline-block">Заказать</a>
                    </div>
                    <div>
                        <Image src={img_1} alt="Food image" width={img_1.width} height={img_1.height} class="rounded-full size-[100%] scale-80 border-[36px] border-accent" />
                    </div>
                </div>
            </div>
            <div class="swiper-slide bg-bg">
                <div class="w-full flex justify-between gap-10 relative">
                    <div class="self-center shrink-0">
                        <div class="title">
                            Правильное питание - <br />
                            <span>секрет долголетия</span>
                        </div>
                        <p class="descr">Профессиональные решения</p>
                        <a href="#" class="rounded-[190px] bg-accent text-bg font-bold text-xl cursor-pointer py-3 px-12 inline-block">Заказать</a>
                    </div>
                    <div>
                        <Image src={img_1} alt="Food image" width={img_1.width} height={img_1.height} class="rounded-full size-[100%] scale-80 border-[36px] border-accent" />
                    </div>
                </div>
            </div>
        </div>
        <div class="relative flex items-center w-[160px] mx-auto">
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

    <!-- <div class="size-[1200px] bg-accent rounded-full absolute -top-[50%] left-[55%] -z-1"></div> -->
</div>

<style>
    @import 'tailwindcss';

    @layer title {
        .title {
            font-family: var(--font-second);
            font-weight: 700;
            font-size: 40px;
            line-height: 1.1;

            margin-bottom: 16px;
        }

        .title span {
            color: var(--color-accent);
        }
    }

    @layer descr {
        .descr {
            font-family: var(--font-second);
            font-size: 18px;
            line-height: 1.1;

            margin-bottom: 24px;
        }

        .descr span {
            color: var(--color-accent);
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        position: static;
        color: var(--color-accent);
        margin-top: unset;
        height: unset;
        width: unset;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 24px;
        font-weight: 700;
    }

    .swiper-pagination {
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tcontainer {
        padding-left: calc((100% - 1300px) / 2);
        margin-left: 15px;
        padding-right: 5%;
    }
</style>
