---
import Image from 'astro/components/Image.astro';

import img_1 from '@/assets/img/intro/intro-1.jpg';
import img_2 from '@/assets/img/intro/intro-2.jpg';
import img_3 from '@/assets/img/intro/intro-3.jpg';
import img_4 from '@/assets/img/intro/intro-4.jpg';

const introItems = [
    {
        title: 'Detox программа – <br /> <span>вкусное очищение</span> <br /> организма',
        descr: 'Только натуральные ингридиенты',
        image: img_1,
    },
    {
        title: 'Сервис правильного <br /> питания. <br /> <span>Худей быстро!</span>',
        descr: '4 приемы пищи',
        image: img_2,
    },
    {
        title: 'Кето питание - <br /> <span>вкусное и быстрое</span> <br /> похудение',
        descr: 'Только современный подход',
        image: img_3,
    },
    {
        title: 'Правильное <br /> питание <br /> <span>секрет долголетия</span>',
        descr: 'Доверьтесь профессионалам',
        image: img_4,
    },
];
---

<script>
    import Swiper from 'swiper';
    import { Pagination, Navigation, Autoplay, EffectFade } from 'swiper/modules';
    import 'swiper/css/bundle';

    new Swiper('.swiper', {
        modules: [Pagination, Navigation, Autoplay, EffectFade],
        loop: true,
        speed: 500,
        // autoplay: {
        //     delay: 5000,
        // },
        effect: 'fade',
        spaceBetween: 26,
        pagination: {
            el: '.swiper-pagination',
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        on: {
            autoplayTimeLeft(s, time, progress) {
                const te = document.querySelector('.swiper-pagination-bullet-active');
                if (te) {
                    const percentage = Math.ceil((1 - progress) * 100);
                    //@ts-ignore
                    te.style.setProperty('--progress', `${percentage}%`);
                }
            },
        },
    });
</script>

<div class="mb-20 relative">
    <div class="swiper container">
        <div class="swiper-wrapper mb-15">
            {
                introItems.map((item) => (
                    <div class="swiper-slide bg-bg">
                        <div class="w-full grid grid-cols-1 sm:grid-cols-[1.5fr_1fr] lg:grid-cols-2 justify-between gap-10 relative">
                            <div class="self-center shrink-0">
                                <div class="title" set:html={item.title} />
                                <p class="descr" set:html={item.descr} />
                                <a href="#" class="rounded-[190px] bg-accent text-bg font-bold text-xl cursor-pointer py-3 px-12 inline-block">
                                    Заказать
                                </a>
                            </div>
                            <div class=" h-[200px] sm:h-auto -order-1 sm:order-none">
                                <Image src={item.image} alt="Food image" width={item.image.width} densities={[1.5, 2, 3]} height={item.image.height} fetchpriority={'high'} loading={'eager'} class=" rounded-2xl sm:rounded-full size-[100%] border-[6px] sm:border-[18px] lg:border-[36px] object-cover aspect-[1] border-accent" />
                            </div>
                        </div>
                    </div>
                ))
            }
        </div>
        <div class="relative flex items-center w-[160px] mx-auto">
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</div>

<style is:global>
    @import 'tailwindcss';

    @layer title {
        .title {
            font-family: var(--font-second);
            font-weight: 700;
            font-size: 40px;
            line-height: 1.1;

            margin-bottom: 16px;
        }

        .title span {
            color: var(--color-accent);
        }

        @media (max-width: 1024px) {
            .title {
                font-size: 32px;
            }
        }

        @media (max-width: 768px) {
            .title {
                font-size: 24px;
            }
        }
    }

    @layer descr {
        .descr {
            font-family: var(--font-second);
            font-size: 18px;
            line-height: 1.1;

            margin-bottom: 24px;
        }

        .descr span {
            color: var(--color-accent);
        }

        @media (max-width: 1024px) {
            .descr {
                font-size: 16px;
            }
        }

        @media (max-width: 768px) {
            .descr {
                font-size: 14px;
            }
        }
    }
</style>
